<html class="bg-gray2">

<head>
    <title>
        Hosting - Say hello to your next web host
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="Discord Bot For Content Creators">
    <meta name="keywords" content="twitch discord bot, discord bot, youtube live discord bot, discord bot youtube">
    <meta name="author" content="gezelio">
    <meta property="og:author" content="Gezelio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css'>
    <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap' rel='stylesheet'>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://api.gezel.io/js/tailwind_config.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div id="paralax" class="bg-fixed bg-center bg-no-repeat" style="background-image: url(/assets/parallax.webp);">
        <!-- Main Content -->
        <div class="bg-top bg-fixed bg-no-repeat pb-2" style="background-image: url(/images/wallpaper.webp);">
            <div id="" class="lg:col-span-4 pt-24 mb-24 bg-bottom bg-no-repeat">
                <div class="grid lg:grid-cols-6 gap-4 mx-4">
                    <div></div>
                    <div class="col-span-full place-self-center mx-4">
                        <h1 class="font-bold text-off_white text-5xl lg:text-5xl lg:text-left">
                        Get your hosting sorted
                        </h1>
                        <p class="font-bold text-neutral-300 my-4 text-xl">
                            We're more relevant than your standard host
                        </p>
                        <p class="font-bold text-neutral-300 mb-4"><i class="fa-solid fa-check text-green-500"></i>
                            WordPress<br><i class="fa-solid fa-check text-green-500"></i> Ghost<br>
                            <i class="fa-solid fa-check text-green-500"></i> Custom built<br>
                            <i class="fa-solid fa-check text-green-500"></i> Whatever you need<br>
                        </p>
                        <a type="button"
                            class="bg-botred text-white py-2 px-4 mr-4 rounded shadow-lg font-black hover:bg-discord2 hover:underline"
                            href="#pricing">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="features" class="grid lg:grid-cols-4 bg-gray2 bg-opacity-80 rounded-lg">
                <!-- WP -->
                <div id="wordpress" class="lg:col-span-4 m-2 py-4 rounded-lg place-self-center mb-72">
                    <div class="grid lg:grid-cols-6 gap-4 mx-4">
                        <div></div>
                        <div id="lscontent" class="col-span-2 place-self-center mx-4 order-last lg:order-none">
                            <p class="text-white p-4 text-xl font-bold mb-8 mx-4"><span
                                    class="font-black text-3xl">WordPress when you need it</span><br><br>
                                WordPress controls 39.5% of the internet, if you didn't know!<br>
                                <span class="font-normal text-gray-400">We understand how important WordPress is in this day and age, and with our platform we want to
                                    ensure you can control everything it has to offer!<br>
                                    From the lastest PHP versions to the most up to date versions, the world is your oyster!<br><br>
                                    Check out <a href="https://yellowbeaniegirl.com" class="link text-botred hover:text-myst_dark">yellowbeaniegirl.com</a> to see how well our platform works!
                                </span>
                            </p>
                        </div>
                        <div id="lspreview" class="col-span-2 place-self-center">
                            <i class="fa-brands fa-wordpress text-9xl"></i>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- ghost -->
                <div id="ghost" class="lg:col-span-4 m-2 py-4 rounded-lg place-self-center mb-72">
                    <div class="grid lg:grid-cols-6 gap-4 mx-4">
                        <div></div>
                        <div id="" class="col-span-2 place-self-center">
                            <i class="fa-regular fa-circle text-9xl"></i>
                        </div>
                        <div class="col-span-2 place-self-center mx-4">
                            <p class="text-white p-4 text-xl font-bold mb-8 mx-4"><span class="font-black text-3xl">Try something new with Ghost</span><br><br>
                            Ghost is taking the world by storm, and we can host it!</span><br><br>
                                <span class="font-normal text-gray-400">
                                    <a href="https://ghost.org" class="link text-botred hover:text-myst_dark">Ghost</a> is an up and coming platform
                                        for personal and professional blogging, as well as newsletters. If you plan on releasing a blog and not using loads of custom 
                                        WordPress plugins, Ghost is probably meant for you!Learn more about Ghost on their <a href="https://ghost.org/" class="link text-botred hover:text-myst_dark">homepage</a>.<br><br>
                                        A great example of Ghost would be the <a href="https://blog.gezel.io" class="link text-botred hover:text-myst_dark">Gezel blog</a>!
                                </span>
                            </p>
                        </div>
    
                        <div></div>
                    </div>
                </div>
                <!-- Live Streams -->
                <div id="" class="lg:col-span-4 m-2 py-4 rounded-lg place-self-center mb-72">
                    <div class="grid lg:grid-cols-6 gap-4 mx-4">
                        <div></div>
                        <div id="lscontent" class="col-span-2 place-self-center mx-4 order-last lg:order-none">
                            <p class="text-white p-4 text-xl font-bold mb-8 mx-4"><span class="font-black text-3xl">Want to run else? No problem!</span><br><br>
                               Within reason, we can do whatever you'd like!<br>
                                <span class="font-normal text-gray-400">Be this a custom docker image, a custom coded website, or even something like <a href="https://nextcloud.com/" class="link text-botred hover:text-myst_dark">NextCloud</a>,
                                    we can probably make it work!
                                </span>
                            </p>
                        </div>
                        <div id="lspreview" class="col-span-2 place-self-center">
                            <i class="fa-brands fa-docker text-9xl"></i>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-24 px-6 mx-auto">
            <section class="mb-32 text-gray-800">
                <h2 class="mb-4 text-4xl text-center font-extrabold text-white"><span
                        class="text-transparent bg-clip-text bg-gradient-to-l to-discord from-botred">Get Started</span></h2>

                <div class="grid lg:grid-cols-3 gap-6 lg:gap-x-12">
                    <div class="mb-6 lg:mb-0">
                        <div class="block rounded-lg shadow-lg bg-gray1 h-full">
                            <div class="p-6 border-b border-gray-300 text-center text-white">
                                <p class="uppercase mb-4 text-sm">
                                    <strong>One Project</strong>
                                </p>
                                <h3 class="text-2xl mb-6">
                                    <strong>$1.99</strong>
                                    <small class="text-off_white text-sm">/month</small>
                                </h3>
                                <a type="button"
                                    class="bg-botred py-2 px-4 rounded shadow-lg font-black hover:bg-red-500 hover:underline"
                                    href="https://ko-fi.com/summary/26f52b94-5732-4669-aa28-e904678dd0a2">
                                    Talk to us
                                </a>
                            </div>
                            <div class="p-6">
                                <ol class="list-inside">
                                    <li class="mb-4 flex items-center text-white text-white">
                                        <i class="fa-solid fa-check mr-2 text-green-500"></i>Get one "container," be it
                                        WordPress, Ghost, etc
                                    </li>
                                    <li class="mb-4 flex items-center text-white">
                                        <i class="fa-solid fa-check mr-2 text-green-500"></i>Support within 24 hours via Discord support
                                    </li>
                                </ol>
                                <p class="uppercase mb-4 text-sm text-white">
                                    <strong>We suggest talking to us first about your plans, and we can make the best recommendation</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-6 lg:mb-0">
                        <div class="block rounded-lg shadow-lg bg-gray1 h-full">
                            <div class="p-6 border-b border-gray-300 text-center text-white">
                                <p class="uppercase mb-4 text-sm">
                                    <strong>Two Projects</strong>
                                </p>
                                <h3 class="text-2xl mb-6">
                                    <strong>$ 5</strong>
                                    <small class="text-off_white text-sm">/month</small>
                                </h3>
                                <a type="button"
                                    class="bg-botred py-2 px-4 rounded shadow-lg font-black hover:bg-red-500 hover:underline"
                                    href="https://ko-fi.com/summary/26f52b94-5732-4669-aa28-e904678dd0a2">
                                    Upgrade
                                </a>
                            </div>
                            <div class="p-6">
                                <ol class="list-inside">
                                    <li class="mb-4 flex items-center text-white text-white">
                                        <i class="fa-solid fa-check mr-2 text-green-500"></i>Get two "containers," be it
                                        WordPress, Ghost, or any other combination
                                    </li>
                                    <li class="mb-4 flex items-center text-white">
                                        <i class="fa-solid fa-check mr-2 text-green-500"></i>Support within 24 hours via Discord + email support
                                    </li>
                                </ol>
                                <p class="uppercase mb-4 text-sm text-white">
                                    <strong>We suggest talking to us first about your plans, and we can make the best recommendation</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>